{{>layout/header}}

<h1>게시판 구현</h1>
 <!-- checkbox에서 선택한 값들을 삭제 할 때 사용한 태그 -->
<div class = "col-md-12">
    <div class="row">
        <div class="col-md-6">
            <!-- 버튼을 누르면 /posts/save로 이동한다 -->
            <!-- 그러면 IndexController에서 해당 url을 GetMapping 했기 때문에-->
            <!-- return 한 값 posts-save.mustache 파일로 이동한다. -->
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>

        <form action = "/posts/search" method = "GET">
            <input name = "keyword" type = "text" placeholder = "검색어를 입력하세요">
            <a href = "/" role = "button" class = "">원상복구</a>
        </form>

        </div>
    </div>

    <br>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th> </th>
            <th>게시글번호<a href = "/sort?sort=id,desc">▼</a><a href = "/sort?sort=id,asc">▲</a></th>
            <th>제목<a href = "/sort?sort=title,desc">▼</a><a href = "/sort?sort=title,asc">▲</a></th>
            <th>작성자<a href = "/sort?sort=author,desc">▼</a><a href = "/sort?sort=author,asc">▲</a></th>
            <th>내용<a href = "/sort?sort=content,desc">▼</a><a href = "/sort?sort=content,asc">▲</a></th>
            <th>최종수정일<a href = "/sort?sort=modifiedDate,desc">▼</a><a href = "/sort?sort=modifiedDate,asc">▲</a></th>
        </tr>
        </thead>
        <tbody id="tbody">
        <form action = "/posts/delete" method = "GET">
            {{#posts}}
                <tr>
                    <td><input type = "checkbox" id = "id" name = "checkedItem" value = {{id}}></td>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{content}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            <button type = "submit" class = "btn btn-danger">글 삭제</button>
        </form>
        </tbody>
    </table>
</div>



{{>layout/footer}}